<!DOCTYPE html>
<html>

<head>

    <title>SakhiSafe Dashboard</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <!-- HEADER -->

    <div class="header">

        <h1>🛡 SakhiSafe Women Safety Dashboard</h1>

        <p>
            AI Powered Multi Camera Surveillance System
        </p>

    </div>

    <!-- TOP CARDS -->

    <div class="top-cards">

        <div class="card">

            <h3>Total Cameras</h3>

            <p>{{ cameras|length }}</p>

        </div>

        <div class="card">

            <h3>System Status</h3>

            <p>ACTIVE</p>

        </div>

        <div class="card">

            <h3>Live Alerts</h3>

            <p>
                {{
                alerts.values()
                | select("equalto", "PERSON DETECTED")
                | list
                | length
                }}
            </p>

        </div>

    </div>

    <!-- CAMERA DASHBOARD -->

    <div class="dashboard">

        {% for camera in cameras %}

        <div class="camera-card">

            <!-- CAMERA HEADER -->

            <div class="camera-header">

                <h2>
                    📷 Camera {{ loop.index }}
                </h2>

                <div class="status">

                    {% if alerts.get(loop.index0) == "PERSON DETECTED" %}

                    ALERT

                    {% else %}

                    LIVE

                    {% endif %}

                </div>

            </div>

            <!-- LIVE VIDEO -->

            <img class="camera-feed" src="{{ camera }}">

            <!-- ALERT SECTION -->

            <div class="
                alert-box

                {% if alerts.get(loop.index0) == 'PERSON DETECTED' %}

                    alert-danger

                {% else %}

                    alert-safe

                {% endif %}
            ">

                {% if alerts.get(loop.index0) == "PERSON DETECTED" %}

                🚨 PERSON DETECTED

                {% else %}

                ✅ SAFE MONITORING

                {% endif %}

            </div>

        </div>

        {% endfor %}

    </div>

</body>

</html>